<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>View all accommodations</title>
    </head>
    <body>
        <h1>Showing all accommodations</h1>
        <p>Number of accommodations: {{ accommodations | length }} </p>
        <ul>{# TODO: Loop through all accommodations #}
            {% for accommodation in accommodations %}
            <li>{{accommodations.}}

            </li>
        </ul>
    </body>
</html>